@{
    ViewBag.Title = "Home Page";
}
<form action="Index" method="POST">
    <div class="row">
        <div class="col-xs-1">Title</div>
        <div class="col-xs-11"><input type="text" class="form-control" name="Title"/></div>
    </div>
    <div class="row" style="margin-top:1%">
        <div class="col-xs-1">Author</div>
        <div class="col-xs-11"><input type="text" class="form-control" name="Author" /></div>
    </div>
    <div class="row" style="margin-top:1%">
        <div class="col-xs-1">ISBN</div>
        <div class="col-xs-11"><input type="text" class="form-control" name="ISBN" /></div>
    </div>
    <div class="row" style="margin-top:1%">
        <div class="col-xs-1">Publisher</div>
        <div class="col-xs-11"><input type="text" class="form-control" name="Publisher" /></div>
    </div>
    <div class="row" style="margin-top:1%">
        <div class="col-xs-1">Year</div>
        <div class="col-xs-11"><input type="text" class="form-control" name="yearIs" /></div>
    </div>
    <div class="row" style="margin-top:1%">
        <div class="col-xs-1">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
        <div class="col-xs-1">
            <a href="/"><button class="btn btn-danger" type="button">Cancel</button></a>
        </div>
    </div>
</form> 